.wrapper {
}
.banner-wrapper {
    position: relative;
    background: url('../../assets/images/banner-2.jpg') center / cover no-repeat;
    width: 100%;
    padding-top: 300px;
}
.banner-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #08023dcc;
    z-index: 10;
}
.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}
.banner-title {
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--primary-color);
    text-align: center;
}
.breadcrumb-wrapper ol {
    justify-content: center;
}
.breadcrumb-wrapper li {
    color: #fff !important;
    .breadcrumb-text {
        color: #fff;
        &:hover {
            color: #ddd;
        }
    }
}
.course-wrapper {
    width: var(--default-layout-width);
    max-width: 100%;
    padding: 40px var(--default-layout-horizontal-spacer);
    margin: auto;
}
// SideBar
.sidebar-wrapper {
}
.sidebar-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 2px;
    margin-bottom: 15px;
    border-bottom: 1px solid #666;
}
.sidebar-header__title {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 2.2rem;
}
.filter-off {
    color: #4096ff;
    font-size: 1.4rem;
    &:hover {
        cursor: pointer;
        opacity: 0.85;
    }
}
.sidebar-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.sidebar-title-icon {
    margin-left: 4px;
    display: none;
    font-size: 1.4rem;
}
.sidebar-subtitle {
    color: #888;
    font-size: 1.4rem;
    margin: 10px 0 5px;
}

.price-range {
}
.price-error {
    color: red;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 5px;
}
.form-learn {
    margin-top: 15px;
}
.level {
    margin-top: 15px;
}
.field {
    margin-top: 15px;
}
.level-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}
.level-icon {
    height: 40px;
    object-fit: contain;
}
.sidebar-confirm-btn {
    width: 100%;
    margin-top: 24px;
    background-color: var(--primary-color);
}
// COntent
.course-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.course-quantity {
    font-weight: 700;
}

.filter-icon {
    margin-left: 4px;
    font-size: 1.6rem;
}
.filter-icon.up {
    color: #79bd21;
    transform: rotate(180deg);
}
.filter-icon.down {
    color: #bd3e21;
}
.ant-select-tree-switcher {
    display: none;
}
.course-item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
}
.course-item__header {
    position: relative;
}
.course-item__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.course-item__mentorImg {
    position: absolute;
    bottom: -12px;
    left: 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.course-item__body {
    padding: 24px 12px;
    position: relative;
}
.course-item__levelIcon {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    object-fit: contain;
}
.course-item__title {
    font-weight: 700;
    margin-bottom: 15px;
    max-width: 80%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.course-item__subtile {
    color: #999;
    font-size: 1.4rem;
    span {
        color: var(--primary-color);
        font-weight: 700;
    }
}
.course-item__quantity {
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    span {
        padding-left: 8px;
        margin-left: 8px;
        border-left: 1px solid #999;
        color: #a7281a;
    }
    span.active {
        color: #629b19;
    }
}
.course-item__info {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.rate-wrapper {
    color: var(--primary-color);
    font-size: 1.6rem;
}

.course-item__price {
    color: #97340d;
    font-size: 1.4rem;
    font-weight: 700;
    margin-right: 10px;
}
.course-item__sessions {
    font-size: 1.4rem;
    font-weight: 700;
    font-style: italic;
    color: #666;
    display: flex;
    align-items: center;
    .calendar-icon {
        margin-right: 5px;
    }
}
.divider {
    height: 1px;
    width: 100%;
    background-color: #ddd;
    margin: 10px 0;
}
.course-item__btn {
    background-color: var(--primary-color);
    width: 100%;
    color: white;
    font-weight: 700;
    height: 40px;
}
.course-pagination {
    text-align: center;
    margin: 30px 0 10px;
}

@media (max-width: 660px) {
    .course-header {
        margin-top: 20px;
    }
    .sidebar-title {
        &:hover {
            cursor: pointer;
        }
    }
    .sidebar-title-icon {
        margin-left: 6px;
        display: flex;
        transition: all 0.2s ease-in-out;
    }
    .hide-on-mb {
        display: none;
        animation: fadeIn 0.2s ease-in-out;
    }
    .hide-on-mb.active {
        display: initial;
    }
    .sidebar-title-icon.active {
        transform: rotate(90deg);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
