:root {
    --title-color: #221038;
}
.wrapper {
}
.banner-section {
    position: relative;

    width: 100%;
    padding-top: 480px;
}
.banner-section::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #08023dd0;
    z-index: 10;
}
.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-title {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}
.banner-subtitle {
    font-size: 5.4rem;
    color: #fff;
    font-weight: 800;
    text-align: center;
    margin: 10px 0 15px;
    min-width: 66vw;
}
.banner-info {
    color: #ddd;
    text-align: center;
    font-size: 1.3rem;
    max-width: 48vw;
    line-height: 1.8;
}
.primary-custom-btn {
    background-color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 32px;
}
.primary-custom-btn + .primary-custom-btn {
    margin-left: 12px;
}
// ABOUT US SECTION
.aboutUs-section {
    position: relative;
    padding-top: 480px;
}
.aboutUs-section::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffc0;
    z-index: 10;
}
.aboutUs-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    width: 1030px;
    max-width: 100%;
}
.section-title {
    color: var(--title-color);
    font-weight: 800;
    text-align: center;
    font-size: 3.4rem;
    margin-bottom: 24px;
}

.aboutUs-leftSide {
}
.aboutUs-info {
    font-weight: 700;
    line-height: 1.5;
    text-align: justify;
}
.aboutUs-actions {
    text-align: center;
}
.aboutUs-img {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 320px;
}
// INTRODUCE SECTION
.introduce-section {
    padding: 40px 0;
    width: var(--default-layout-width);
    max-width: 100%;
    margin: auto;
}
.introduce-body {
    padding: 0 50px;
}
.introduce-item {
}
.introduce-title {
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 1;
    margin-bottom: 15px;
    font-size: 1.8rem;
    .introduce-icon {
        margin-right: 5px;
        font-size: 2.2rem;
    }
}
.introduce-info {
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
}
// LEVEL SELECTION SECTION
.levelSelection-section {
}
.levelSelection-img {
    position: relative;
    height: 400px;
    object-fit: cover;
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
    overflow: hidden;
    border-radius: 6px;
    img {
        border-radius: 6px;
        width: 100%;
    }
}
.levelSelection-img.reflect {
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
}
.img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008e;
    z-index: 10;
}
.levelSelection-content {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    z-index: 11;
    color: #fff;
    text-align: center;
}
.levelSelection-title {
    font-weight: 800;
    font-size: 3.2rem;
    text-transform: uppercase;
    white-space: nowrap;
}
.levelSelection-subtitle {
}
// COURSE SECTION
.course-section {
    padding: 50px 0;
    width: var(--default-layout-width);
    max-width: 100%;
    margin: auto;
}
.custom-course-item {
    // width: 200px;
}
